# --------------------------------------------------
# Docker environment variables (example)
# --------------------------------------------------

# NOTE: Do not commit your local .env file.
# Create a local .env file in the frontend/ directory based on this file.

# Data required by the docker-compose.yml file to start database connection
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=recruitment

# Backend URL
VITE_API_BASE_URL=http://localhost:3000